; vim: set fileencoding=utf-8 :
; Sat Aug 20 07:33:55 CEST 2016

[buildout]
parts = scripts
eggs = bob.bio.face_ongoing
       bob.learn.tensorflow
       bob.pipelines
       bob.bio.base
       bob.bio.face

extensions = bob.buildout
             mr.developer
auto-checkout = *
develop = src/bob.learn.tensorflow
          src/bob.pipelines
          src/bob.bio.base
          src/bob.bio.face
          .

newest = false
verbose = true

[sources]
bob.learn.tensorflow = git git@gitlab.idiap.ch:bob/bob.learn.tensorflow
bob.pipelines = git git@gitlab.idiap.ch:bob/bob.pipelines
bob.bio.base = git git@gitlab.idiap.ch:bob/bob.bio.base branch=dask-pipelines
bob.bio.face = git git@gitlab.idiap.ch:bob/bob.bio.face branch=dask-pipelines

[scripts]
recipe = bob.buildout:scripts
dependent-scripts = true

